# Practice Exercise

Question 1: Print a random integer between 100 and 135

In [54]:
# Import required libraries:
#from random import seed
#from random import randint
import random
# Print a random integer in the given range:
print(random.randrange(100,135))
#print(randint(100,135))

132

Question 2: Create a list consisting of first 10 even numbers.

In [3]:
# Create a list according to the given condition:
list=[2,4,6,8,10,12,14,16,18,20]
print(len(list))

10

Question 3: Create a list in the following manner: [birthyear, firstname, birthdate, lastname]

In [5]:
# Create a list according to the given condition:
list1=[1995,'shiva',10,'mamuduri']
print(list1)

[1995, 'shiva', 10, 'mamuduri']

Question 4: Create a nested list which consist of 2 students and their scores in mathematics and english:

Students: Alex and Cody

Alex scores 97 and 95 in mathematics and english respectively,

Cody scores 89 and 92 in mathematics and english respectively.

The list should be such that it first stores the name of students followed by the subjects and then their scores in nested lists.

In [55]:
# Create a list according to the given condition:
#user1=['Alex','mathematics',97,'english',95]
#user2=['cody','mathematics',89,'english',92]
#Updated_list=user1.extend(user2)
#print(user1)
list2=[['Alex','Cody'],['Mathematics,English'],[97,95],[89,92]]
print(list2)

[['Alex', 'Cody'], ['Mathematics,English'], [97, 95], [89, 92]]

Question 5: Given below is a list, find out whether is has the letter 'k' in it and print the result as true or false.

In [60]:
# Given below is a list:
list3=[1,2,'r',7,'k',6,'o','h','d',5,9]

# Define the character you are searching for:
#method1
'k' in list3

# print the result:
#method2
#char = 'k'
#print(char in list3)

True

Question 6: In the tuple given below, print the 3rd element.

In [61]:
# Given below is the tuple:
tuple1=(1,'hello','world','567')

# Print the 3rd element:
print(tuple1[2])

world

Question 7: Given below is a tuple. Sort the tuple and print the result.

In [17]:
# Given below is the tuple:
tuple2=(1,25,67,100,3,54)

# Sort the tuple:
#tuple2.sort()      #sort() works only on lists. Tuples don’t support in-place modification
# Print the result:
#print(tuple2)

# Given below is the tuple:
tuple2=(1,25,67,100,3,54)

# Sort the tuple:
sortable_tuple=tuple(sorted(tuple2))  #sorted(tuple2) → creates a list then tuple(sorted(tuple2)) → converts it back to a tuple
# Print the result:
print(sortable_tuple)

#Key takeaway (memorize this)
#Tuple → immutable
#sorted() → works on any iterable
#Result of sorted() → always a list
#Convert back if you need a tuple

(1, 3, 25, 54, 67, 100)

Question 8: Given below is a list, convert into a set and print the output also print the length of the set.

In [19]:
# Given below is the list:
list4=[1,2,4,6,3,2,5,4,7,4,6,5,3,2,2,1]

# Convert the list into set:
set1=set(list4)
# Print the result:
print(set1)
# Print the length of the set:
print(len(set1))

{1, 2, 3, 4, 5, 6, 7}
7

Question 9: Given below are two sets, perform the operations given below:
1. Print their union
2. Print their intersection
3. Print their difference
4. Print their symmetric difference

In [24]:
# Given below are two sets:
a={1,2,3,5,6,7}
b={4,5,8,9,2,3}

#Yes — but not directly, and this is where people get sloppy and write bad code.
#Set operations do NOT work on lists. They work on sets. You must convert first.

# Print their union:All unique elements in both sets.         
c=set(a)|set(b) #print(a.union(b))
print(c)
# Print their intersection:Common elements in both sets. 
d=set(a)&set(b) #print(a.intersection(b))
print(d)
# Print their difference:Elements in A that are not in B                 
e=set(a)-set(b) #print(a.difference(b))
print(e)
# Print their symmetric difference: Elements in A or B but not in both
f=set(a)^set(b)
print(f)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2, 3, 5}
{1, 6, 7}
{1, 4, 6, 7, 8, 9}

Question 10: Create a dictionary that stores the names and roll numbers of 5 students as given below:
1. Sam, 21
2. Cody, 12
3. Addy, 3
4. Zach, 45
5. Amy, 6

In [68]:
# Create a dictionary:
users={'sam':21,'cody':12,'addy':3,'zach':45,'amy':6}
# Print the result:
print(users)

#for user in users:
 #   print(user["name"], user["roll_number"])

{'sam': 21, 'cody': 12, 'addy': 3, 'zach': 45, 'amy': 6}

Question 11: Due to admission of new students the roll number of zach has changed from 45 to 47. Make the required changes and print the new dictionary.

In [69]:
# Update the roll number:
#users[47] = users.pop(45)
users['zach']=47

# Print the new dictionary:
print(users)

{'sam': 21, 'cody': 12, 'addy': 3, 'zach': 47, 'amy': 6}

Question 12: Sort the dictionary according to roll number.

In [70]:
# Sort and print the students roll number wise in ascending order:
sorted(users)

['addy', 'amy', 'cody', 'sam', 'zach']